
#__next{
  height:100%;
  width:100%;
  display: block;
}
body{
  background-color: #FDFDFD;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}


h4.ant-typography, .ant-typography h4 , h3.ant-typography, .ant-typography h3 , h2.ant-typography, .ant-typography h2, h5.ant-typography, .ant-typography h5 {
  margin-bottom: 0;
  margin-top: 0;
}

.shadow-hv:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.shadow-down{
  box-shadow: 0 3px 5px -3px #000;
}

.rounded{
  border-radius:5px;
}

.circle{
  border-radius:15%;
}
.br-5{
  border-radius: 5px;
}

.br-10{
  border-radius: 10px;
}

.fs-16{
  font-size: 16px;
}

ol,ul{
  padding-left:0;
}

.float-right{
  float:right;
}

.nav-link.active{
  border-bottom: 2px solid #4ABDAC;
}

p,small{
  line-height:0.8;
}

.footer {
  position: fixed;
  height: 50px;
  background-color: red;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.auth-image{
  height:400px;
}

.h-90{
  height:90%;
}

.h-80{
  height:inherit;
}

.auth-bg-img{
  background-image: url('../assets//img/login-banner.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.anticon svg{
  vertical-align: inherit;
}

.pointer{
  cursor:pointer;
}
