.navigation{
    position: fixed;
    width: 60px;
    height: 100% ;
    transition: 0.3s;
    overflow: hidden;
    z-index: 1;
    background-color:#fff;
    color: #484848;
    border-right: 1px solid #AFAFAF;
}

.navigation:hover,
.navigation.active{
    width: 256px;
}

.navigation.active ~ .content{
    transition: 0.5s;
    margin-left: 256px;
}

.navigation ul{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
}
.navigation ul li:hover{
    color:#4ABDAC; ;
    background-color: #f1f3f4;
}

.nav-link-active{
    color:#4ABDAC; ;
    background-color: #f1f3f4;
}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li .item{
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
}

.navigation ul li .item .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li .item .icon .fa{
    font-size: 36px;
}

.navigation ul li .item .title{
    position: relative;
    display: block;
    cursor:default;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.toggler{
    position:fixed;
    left:0;
    bottom:0;
}

.toggler .icon{
    position: relative;
    display: block;
    padding: 10px 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.content{
    transition: 0.5s;
    margin-left: 60px;
}

.toggle{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 57px;
    height: 57px;
    cursor: pointer;
}


.toggle .icon{
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-bottom:16px;
}

.toggle:before{
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #fff;
}


@media(max-width:767px){
    .navigation{
        left:-60px;
    }
    .navigation.active{
        left: 0;
        width: 50%;
        z-index: 1000;
    }
    .content{
        margin-left: 0;
    }
    .brand-div{
        display:flex;
        justify-content: space-between;
    }
    .navigation.active ~ .content{
        margin-left: 0;
    }
}

